html {
  box-sizing: border-box;
  width: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
  line-height: 1.5;
  box-sizing: border-box;
  /* border: 1px solid blue; */
  font-family: "OpenSauceOneLight", Arial, Helvetica, sans-serif;
}
