@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
  padding: 0;
  margin: 0;
  line-height: 1.5;
  box-sizing: border-box;
}

body {
  font-family: Quicksand, Geneva, Tahoma, sans-serif;
  background-color: #202020;
  color: white;
}

main {
  padding: 4em 0;
  max-width: 70rem;
  margin: 0 auto;
  /* border: 2px solid red; */
}

.article {
  padding: 40px 40px;
  max-width: 1em;
}

.arty {
  padding: 0 1em;
  /* background-image: url("https://lh3.googleusercontent.com/36hVTaso0J5MyXSGYa6Fy2zxUcTtKVNSNaTwux6gyJUl2tdEwm_lSboFENkj_0W1GkwNAi1aBPgutgzjDydnmlBE-TXeEHk67ukl9-vkmVJoyQvmkRQLGbjQT2zvRiL3pH8o770_FfIQ2tycNnQAa_BNHs4T3DyEwbNaKRQQD_8_W7L5IgAXWlKbOAJsEWcXteHigWI_dHYeI_PSeuwAWEJgXj3fRsTqMDliNVk7LF60wo_eR-DZCznb3I_kxIzSdiEjo08HO8nn8puxc_AEGXDM7H_O8ncZnUI5CFdw9J1XSMj35Q6hqfd4BVdv_orKuAgBdmTK83zaQ2dBb0ijtPMavrOnYYyeg2ot3k0LEZyH5EOe5sx4tZY81LqkK6cYwA3Suaa32IBcIaIzeZbG_VhdZi8WgfbMYV-oVa1l0E5Wgiap6XzEfiJPYw160eW8u2wrdyQ8KbpgoEbjFO3L5J41sUNyfCXAMingT7ir4jzB_6rBLVTy9-KZkUhw16yyChMBDWAzU9JPENMBgcTZ5GiE7FgsezBacX4JU2d-vyuU2ObrnnIgkltu6wk82VDYICT-B2Y62mLPzyFJ-sAMzIkRx7S9QuTORMoqwUhBT-UpD_jCAu2N-hLd0UirKRUxzr6Qm_HVko-rfUNnQonE2ifDCDpc_uXAGAg22sMy60_sEMkJGv5ht38GuAD-_q-zdHLcmk8WZGXepX-gyozuLwssGQ=w1798-h1348-no?authuser=0"); */
}

img {
  width: 100%;
  position: absolute;
  z-index: -1;

}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 20px;
  font-weight: 500;
  font-style: italic;
}