#development {
  background-color: #1d1d1d;
  padding-block: 2em;
}

#development h1 {
  /* text-align: center; */
  padding-top: 1em;

}

.article img {
  max-width: 10em;
}

.article {
  padding-top: 1em;
}

.dev-detail h2 {
  line-height: 2;
}
.dev-detail div {
  height: 1em;
}

.dev-list li {
  line-height: 2;
}

#star-runner-img {
  min-width: 20em;
}