/* #about-me section {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  padding-block: 4rem;
  gap: 2rem;
  line-height: 1.5;
  min-height: 100vh;
}

#about-me img {
  min-width: 14em;
  width: 100%;
  border-radius: 1rem;
  box-shadow: 0 0.4em 3em #00000075;
}

.about-content {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  max-width: 100%;
  flex: 1 0 5rem;
}

.split {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
  max-width: 60em;
}

.box {
  flex: 1 0 50%;
}

.small {
  flex: 1 0 40%;
} */

#about-me {
  background-image: url("/images/Stubbs-517.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #000;
}

#about-me section {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 3rem;
}

.about-content {
  margin-top: 3rem;
  margin-bottom: auto;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  line-height: 1.5;
}

.about-content h2 {
  font-size: 3rem;
}

.about-content p {
  font-size: 1.5rem;
}

@media (max-width: 35rem) {
  .about-content h2 {
    font-size: 2.5rem;
  }

  .about-content p {
    font-size: 1.3rem;
  }
}
