#app-dev-article {
  /* background-color: rgb(34, 34, 34); */
}

#app-development {
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  line-height: 1.5;
}

.app-development-section {
  display: flex;
  flex-flow: column wrap;
  gap: 1rem;
  line-height: 1.5;
  margin-top: 5rem;
}

.dev-section {
  padding-block-end: 3rem;
}

.dev-section h3 {
  margin-block-start: 1rem;
}

.dev-section > a {
  display: inline-block;
  padding-top: 0.75rem;
  text-decoration: underline;
}

#app-development ol {
  padding-inline-start: 1.5rem;
  margin-block: 0.35rem 0;
}

#app-development ol li {
  line-height: 1.65;
  padding-inline-start: 0.65rem;
}
