#bg-icons {
  position: fixed;
  left: -20em;
  top: -10em;
  transform: rotate(20deg);
  opacity: 0.3;
  z-index: -1;
}

@media screen and (max-height: 900px) {
  header {
    min-height: 100vh;
  }
}

.main {
  margin: 0 auto;
  max-width: 60em;
  padding: 2em 2em;
  /* background-color: white; */
  /* border-radius: 10px; */
  display: block;
}

.main h1 {
  padding: 0.3em 0;
  font-size: 4em;
  line-height: 1.2;
  margin-top: 1em;
  color: #fff;
}

.main h2 {
  padding-bottom: 3em;
}
