footer {
  padding: 1.5em 1em;
  /* max-width: 70rem; */
  margin: 0 auto;
  /* border: 2px solid red; */

  background-color: white;
  z-index: 10;
}

footer * {
  color: black;
  line-height: 1.8;
}

.footer {
  margin: 0 auto;
  max-width: 60em;
}