.main {
  margin: 0 auto;
  max-width: 60em;
  padding: 0 2em;
}

.main h1 {
  padding: 0.3em 0;
  font-size: 4em;
  line-height: 1.2;
  /* background-color: #ffffffa1; */
  color: #fff;
  text-shadow: 4px 4px 0px #00000056;
}

.main li, h2 {
  text-shadow: 1px 1px 0px #00000056;
}

/* .main object {
  background-color: aqua;
} */

object {
  position: fixed;
  left: -20em;
  top: -20em;
  transform: rotate(20deg);
  opacity: 0.3;
  z-index: -1;
}

h2 {
  font-size: 20px;
  font-weight: 500;
  font-style: italic;
}

#index-main {
  /* background-image: url("/svgs/icons.svg");
  transform:rotate(0deg); */
}
